.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.navbar-brand {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-is-mobile .navbar {
  position: fixed;
  z-index: 2;
}

.navbar-sidenav-container {
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  max-width: 200px ;
  border-right: 1px solid #a5cfff;
}


.progress-bar-container {
  height: 5px;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
  text-decoration: none;
}

#push-bottom {
  position: absolute;
  bottom: 0;
}