<div class="navbar-container">

  <mat-toolbar class="navbar" color="primary">


    <a class="navbar-brand" routerLink="['/']" matTooltip="Home">
      <h1>
        Zona Privada de {{ authService.currentUser()?.first_name }}
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button (click)="logout()">
      Logout
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav mode="side" [opened]="true" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <div id="zonaComun">
          <a mat-list-item routerLink="/" routerLinkActive="active">
            <mat-icon mat-list-icon>
              home
            </mat-icon>
            <p mat-line> Home </p>
          </a>

          <a mat-list-item routerLink="/privado/dashboard" routerLinkActive="active">
            <mat-icon mat-list-icon>
              dashboard
            </mat-icon>
            <p mat-line> Dashboard </p>
          </a>

          <a mat-list-item routerLink="/privado/cuenta" routerLinkActive="active">
            <mat-icon mat-list-icon>person</mat-icon>
            <p mat-line> Cuenta </p>
          </a>



        </div>
        @if (authService.currentUser()?.role?.role_name=== 'admin' || authService.currentUser()?.role?.role_name ===
        'profesor'){
        <div id="zonaAdmin">

          <mat-divider></mat-divider>

          <h3 mat-subheader>Zona de profesorado</h3>

          <a mat-list-item routerLink="/privado/usuarios" routerLinkActive="active">
            <mat-icon mat-list-icon>
              people
            </mat-icon>
            <p mat-line> Usuarios </p>
          </a>
          @if (authService.currentUser()?.role?.role_name=== 'admin' ){
          <mat-divider></mat-divider>

          <a mat-list-item routerLink="/privado/admin" routerLinkActive="active">
            <mat-icon mat-list-icon>
              people
            </mat-icon>
            <p mat-line> Administracion </p>
          </a>
          }
        </div>

        }
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">


      <router-outlet />

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
