.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 8px;
}


.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    padding-top: 1rem;
}

mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

/* RESPONSIVE: En móviles, todo a 1 columna */
@media (max-width: 600px) {
    .formGrid {
        grid-template-columns: 1fr;
    }
}