input{
  text-align: center; 
  line-height: normal; 
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
}

tr{
    text-align: center;
    line-height: normal; 
    color: rgb(216, 157, 157);
}