.dialog-header {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 1.4rem;
    gap: 8px; 
    color: #850404; 
}

.dialog-header mat-icon {
    margin: 0; 
}

mat-dialog-content {
    text-align: center;
    font-size: 1rem;
    color: #333;
    margin: 16px 0;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.accept-btn {
    color: #555;
}
