<button mat-dialog-close="" style="margin: 10px; align-self: flex-end">
    <mat-icon fontIcon="close" />
</button>
<h2 mat-dialog-title>Acceso a zona privada</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <h3>Introduzca usuario y contraseña</h3>
        @if(errorLogin){
        <mat-hint style="color: var(--mat-sys-error)">
            Usuario o contraseña incorrectos. Pruebe de nuevo.
        </mat-hint>
        }
        <p>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" required>
                <mat-icon matSuffix fontIcon="person"></mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" placeholder="Contraseña" type="password" required>
                <mat-icon matSuffix fontIcon="key"></mat-icon>
            </mat-form-field>
        </p>

    </mat-dialog-content>
    <mat-dialog-actions>
        <span matTooltip="Completa los datos para continuar" [matTooltipDisabled]="!loginForm.invalid">

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </span>

    </mat-dialog-actions>
</form>