<button mat-icon-button mat-dialog-close="" style="margin: 10px; align-self: flex-end">
    <mat-icon fontIcon="close" />
</button>
<h3 mat-dialog-title>Usuarios apuntados</h3>
<mat-dialog-content>
    <ng-container *ngIf="loading">
        <p>Cargando usuarios...</p>
    </ng-container>
    <ng-container *ngIf="!loading && userList.length > 0 ; else noUsers">
        <table mat-table [dataSource]="userList">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let user">
                    @if (user.first_name == null) {
                    <span>Usuario eliminado</span>
                    } @else {
                    {{ user.first_name }} {{ user.last_name }}
                    }

                </td>
            </ng-container>

            <ng-container matColumnDef="attendance">
                <th mat-header-cell *matHeaderCellDef> Asistencia </th>
                <td mat-cell *matCellDef="let user">
                    <input type="checkbox" [checked]="user.attendance" (change)="toggleAttendance(user)" />
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button color="warn" (click)="deleteUserBooking(user.bookingId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.is_Active]="!row.is_active"></tr>
        </table>
    </ng-container>
    <ng-template #noUsers>
        <p>No hay alumnos inscritos en esta clase.</p>
    </ng-template>
    <!-- Interfaz si eres admin o profesor-->
    @if (authService.currentUser()?.role?.role_name=== 'admin' || authService.currentUser()?.role?.role_name
    ==='profesor'){
    <mat-accordion>

        <mat-expansion-panel hideToggle>

            <mat-expansion-panel-header>
                Añadir nueva reserva
            </mat-expansion-panel-header>
            <form [formGroup]="newUserBooking" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <mat-select formControlName="userBooking" name="userBooking">
                        @for (user of allUserList; track user.id) {
                        <mat-option [value]="user">
                            {{ user.first_name }} {{ user.last_name }}
                        </mat-option>
                        }
                    </mat-select>
                    @if (allUserList.length === 0) {
                    <mat-hint style="color: var(--mat-sys-error)">
                        No hay usuarios disponibles
                    </mat-hint>
                    }
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="allUserList.length==0">Añadir</button>
            </form>

        </mat-expansion-panel>

    </mat-accordion>
    <!-- Interfaz de alumno -->
    }@else{
    <form [formGroup]="newUserBooking" (ngSubmit)="onSubmit()">
        <button mat-raised-button type="submit" [hidden]="amIBooked">Reservar</button>
        <button mat-raised-button color="warn" type="button" [hidden]="!amIBooked"
            (click)="deleteUserBooking(this.myBooking.bookingId)">Borrar Asistencia</button>
    </form>
    }
</mat-dialog-content>