h3 {
    font-size: 1.25rem;
    text-align: center;
    color: #d32f2f;
    padding-top: 16px;
}

mat-dialog-content {
    text-align: center;
    font-size: 1rem;
    color: #333;
    margin: 16px 0;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.cancel-btn {
    color: #555;
}

.delete-btn {
    background-color: #c21d1d;
    color: rgb(255, 255, 255) !important;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
}