
mat-form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

/* RESPONSIVE: En móviles, todo a 1 columna */
@media (max-width: 600px) {
    .formGrid {
        grid-template-columns: 1fr;
    }
}