form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-header-row {
  background-color: #007bff; 
}


.mat-header-cell {
  color: white; 
  font-weight: bold; 
  font-size: 16px; 
}