<header>
    <img src="img\logo.png" alt="Logo" />
    <nav>
        <!-- Sustituimos el href por routerLink para evitar el recargado de pagina-->
        <a routerLink="/home">Inicio</a>
        <a routerLink="/clases">Clases</a>
        <a routerLink="/informacion">Sobre la Ceramica</a>
        <a routerLink="/nosotros">Nosotros</a>
        <a routerLink="/contacto">Contactanos</a>
        <button mat-raised-button (click)="checkAuthStatus()"> Acceder a Zona Privada </button>
    </nav>
</header>