.logoPC {
    display: inline-block;
    width: 5%;
}

.logoMovil {
    display: none;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(196, 152, 95);
    position: relative;
    z-index: 1000;
}

nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

/* --- Responsividad (Móviles y Tablets) --- */

@media (max-width: 600px) {
    .hamburger {
        display: block;

    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgb(197, 162, 116);
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2rem;
        gap: 2rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: flex;
    }

    .logoPC {
        display: none;
    }

    .logoMovil {
        display: inline-block;
        width: 20%;
    }
}