.divContenido {
    display: flex;
}

.divCabecera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divCabecera img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    margin-top: 15px;
}

.textoCabecera {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.divContenido {
    display: flex;
    align-items: end;
    gap: 8rem;
    padding: 2rem;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}