.custom-day-cell {
  position: relative;
  padding-top: 5px;
}

.add-event-button {
  position: absolute;
}

.cal-day-number {
  margin-left: 25px; 
  font-weight: bold;
  display: inline-block;
}
.event-container {
    position: relative; 
    display: flex;      
    align-items: center;
    overflow: hidden; 
    width: 100%;
    height: 30px; 
}
.delete-btn {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 30px; 
    visibility: hidden; 
    opacity: 0;  
    transition: all 0.2s ease-in-out;
    margin: 1px;
    border: none;
    line-height: 28px; 
}

.event-container:hover .delete-btn {
    visibility: visible;
    opacity: 1;        
}