/* BOTONES */
.btn-primary {
  background-color: rgb(196, 153, 98);
  border-color: rgb(107, 84, 54);

}

.btn {
  color: rgb(0, 0, 0);
}

.custom-day-cell {
  position: relative;
  padding-top: 5px;
}

.add-event-button {
  position: absolute;
}

.cal-day-number {
  margin-left: 25px;
  font-weight: bold;
  display: inline-block;
}

.event-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 30px;
}

.delete-btn {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border: none;
  line-height: 28px;
}

.edit-btn {
  position: absolute;
  height: 100%;
  top: 0;
  width: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border: none;
  line-height: 28px;
  left: 0;
}

.event-container:hover .delete-btn,
.event-container:hover .edit-btn {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 800px) {

  ::ng-deep .cal-month-view .cal-cell-row {
    min-height: 60px; 
  }

  .event-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 2px;
  }

  .delete-btn, .edit-btn {
    display: none !important; 
  }
  
  .cal-day-number {
    font-size: 12px !important;
    margin-bottom: 2px !important;
  }
}

